/* Estilos generales */
.fondo {
    background-color: #141416;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .imagen_nav img {
    width: 100%;
    height: auto;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .inicio_sesion form ul li {
    height: 30px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  
  input::placeholder {
    color: #b5b1b1;
  }
  
  input {
    border-radius: 3px;
    border-width: 1px;
    border: 1px solid white;
    background-color: #555555;
    text-align: center;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
  }
  
  .shadows .shadow-layer:nth-child(2) {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  
  /* Media queries para hacer el diseño responsive */
  @media (max-width: 768px) {
    /* Modificar el tamaño de la imagen de navegación */
    .imagen_nav img {
      height: 200px;
    }
  
    /* Centrar los elementos del formulario */
    .inicio_sesion form ul li {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  
